.App {
  text-align: center;
}
.student{
  background-color: violet;
  padding: auto;
  border: 3px solid black;
  margin: auto;
  font-size: 30px;
  width: 40%;
  
}
/*
.fb{
  padding: auto;
  background-color: whitesmoke;
  text-decoration-color: brown;
  border: 5px solid black;
  margin: auto;
  font-size: 40px;
  
  width:30%;
  
}

.fm{
  padding: auto;
  background-color: whitesmoke;
  flex: auto;
  
}
*/

.s1{
  background-color: chocolate;
  padding: auto;
  margin: auto;
  border:2px solid black;
  font-size:20px;
  width: 20%;
}
.s2{
  background-color: yellow;
  padding: auto;
  margin: auto;
  border:5px solid black;
  font-size:20px;
  width: 20%;

}
.s3{
  background-color: gold;
  padding: auto;
  margin: auto;
  border:5px solid black;
  font-size:20px;
  width: 20%;

}
.s4{
  background-color: burlywood;
  padding: auto;
  margin: auto;
  border:5px solid black;
  font-size:20px;
  width: 20%;
}
.s5{
  background-color: royalblue;
  padding: auto;
  margin: auto;
  border:5px solid black;
  font-size:20px;
  width: 20%;
} 


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.User{
  
  padding: auto;
  border: 3px solid black;
  margin: auto;
  width: 50%;
  font-size:30px ;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.modal{
  background-color: azure;
  padding: auto;
  align-items: center;
  border: 5px solid black;
  margin:auto;
  width:120%;
  font-size:30px;
  
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
